/browser/
/DBconfigReader.jsp
/LogReader.jsp
/MobileConfig.jsp
/MobileConfigOperation.jsp
/MobileSecuritySetting.jsp
/MobileSecuritySettingOperation.jsp
/WorkflowCenterBrowser.jsp
/WorkflowCenterTreeData.jsp
